<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>229713234047-6clv9c9rhdj0gqmqtpaaeli3mlvpojp8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.229713234047-6clv9c9rhdj0gqmqtpaaeli3mlvpojp8</string>
	<key>API_KEY</key>
	<string>AIzaSyCaQKRR28aTp7pfSCmfqfTQgbqvLIJuimo</string>
	<key>GCM_SENDER_ID</key>
	<string>229713234047</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lodkag.lodkagram</string>
	<key>PROJECT_ID</key>
	<string>lodkagram</string>
	<key>STORAGE_BUCKET</key>
	<string>lodkagram.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:229713234047:ios:cf26cb29392fbec5ea574a</string>
</dict>
</plist>